In [1]:
import pandas as pd
import hashlib

In [2]:
filename="musicmile/bluetooth_1634469751686.txt"
raw_data = pd.read_csv(filename, header=None)
raw_data.columns=['Time', 'Id','RSSI', 'Primary', 'Secondary', 'AdInterval','DeviceName','ManufacturerData', 'TxPower', 'AdvertiseFlag']
raw_data.head()

,Time,Id,RSSI,Primary,Secondary,AdInterval,DeviceName,ManufacturerData,TxPower,AdvertiseFlag
0,1634469751967,88:C6:26:D1:73:83,-52,1,0,0,,{3=[B@4c5bd9b},-2147483648,6
1,1634469751985,47:11:B1:77:DE:0C,-59,1,0,0,null,{76=[B@2c00a76},12,26
2,1634469751998,28:DD:73:41:DB:D7,-53,1,0,0,null,{},-2147483648,-1
3,1634469752020,17:77:17:99:A5:71,-49,1,0,0,null,{19456=[B@e944513},-2147483648,4
4,1634469752046,88:C6:26:D1:73:83,-37,1,0,0,,{3=[B@2d9f24e},-2147483648,6

In [3]:
def hash_id(device_id):
    return hashlib.sha224(str.encode(device_id)).hexdigest()

raw_data['DeviceId'] = raw_data['Id'].apply(hash_id)

In [4]:
del raw_data['Id']
raw_data.head()

,Time,RSSI,Primary,Secondary,AdInterval,DeviceName,ManufacturerData,TxPower,AdvertiseFlag,DeviceId
0,1634469751967,-52,1,0,0,,{3=[B@4c5bd9b},-2147483648,6,4d29d0cf9b06262acdd1ed5a9806100bd5ad16c0e5f099...
1,1634469751985,-59,1,0,0,null,{76=[B@2c00a76},12,26,3663e5aff8f1d398dac5a4acaa1d3cd6ace6031df4ea6a...
2,1634469751998,-53,1,0,0,null,{},-2147483648,-1,c1509f0fb50f79cb1dfb595df15bc5be29850ca0628254...
3,1634469752020,-49,1,0,0,null,{19456=[B@e944513},-2147483648,4,e0867aa95888ce2d5ac54cdac1a87b796abc37d4cf4172...
4,1634469752046,-37,1,0,0,,{3=[B@2d9f24e},-2147483648,6,4d29d0cf9b06262acdd1ed5a9806100bd5ad16c0e5f099...

In [5]:
raw_data.to_csv('musicmile/hash_bluetooth.csv')

In [32]:
## Clean Up Location

In [6]:
location_f = "musicmile/locations_1634469751686.txt"
location = pd.read_csv(location_f, header=None)
location.columns = ['Time', 'Lat', 'Long', 'Alt', 'Bearing', 'Speed', 'VerticalAccuracy', 'Accuracy']
location.head()

,Time,Lat,Long,Alt,Bearing,Speed,VerticalAccuracy,Accuracy
0,1634469751897,52.407536,-1.493538,133.035937,0.000000,0.000000,3.0,8.280
1,1634469751904,52.407536,-1.493538,133.035937,0.000000,0.000000,3.0,8.280
2,1634469754400,52.407152,-1.493685,132.613901,0.000000,0.000000,3.0,19.398
3,1634469759629,52.407184,-1.493628,132.674673,0.013831,1.087892,3.0,19.165
4,1634469764801,52.407334,-1.493649,132.719942,109.497640,0.075676,3.0,12.685

In [7]:
del location['Lat']
del location['Long']

In [8]:
location.to_csv('musicmile/location.csv')