Create the database

In [2]:
import pandas as pd

In [3]:
def clean_organisation(org):
    return org.replace('{', '').replace('}','').split('=')[0]

In [4]:
loc = pd.read_csv('canleybrook/bluetooth.txt', header=None)
loc['company'] = loc[7].apply(clean_organisation)
loc

,0,1,2,3,4,5,6,7,8,9,company
0,1634469751967,88:C6:26:D1:73:83,-52,1,0,0,,{3=[B@4c5bd9b},-2147483648,6,3
1,1634469751985,47:11:B1:77:DE:0C,-59,1,0,0,null,{76=[B@2c00a76},12,26,76
2,1634469751998,28:DD:73:41:DB:D7,-53,1,0,0,null,{},-2147483648,-1,
3,1634469752020,17:77:17:99:A5:71,-49,1,0,0,null,{19456=[B@e944513},-2147483648,4,19456
4,1634469752046,88:C6:26:D1:73:83,-37,1,0,0,,{3=[B@2d9f24e},-2147483648,6,3
...,...,...,...,...,...,...,...,...,...,...,...
9124,1634472712764,4A:80:17:1B:9A:16,-65,1,0,0,null,{76=[B@ce051b1},12,26,76
9125,1634472712772,74:B6:B6:E6:08:82,-74,1,0,0,3.5.0-0-BAEAAvv/ug==-JABY0AWV,{},-2147483648,5,
9126,1634472712813,74:B6:B6:E6:25:42,-53,1,0,0,3.5.0-0-AQEABfv/qg==-JAC108FJ,{},-2147483648,5,
9127,1634472712836,62:A4:9E:6B:F1:A3,-56,1,0,0,null,{76=[B@e305e70},7,26,76
9128,1634472712840,88:C6:26:D1:73:83,-67,1,0,0,,{3=[B@1412d0f},-2147483648,6,3

In [10]:
loc1 = pd.read_csv('stoney_stanton/bluetooth.txt', header=None)
loc1['company'] = loc1[7].apply(clean_organisation)
loc1

,0,1,2,3,4,5,6,7,8,9,company
0,1624444181396,55:5E:58:6B:BE:1F,-88,1,0,0,null,{76=[B@150a18d},12,26,76
1,1624444181402,79:54:38:9B:CC:83,-76,1,0,0,null,{},-2147483648,-1,
2,1624444181404,79:54:38:9B:CC:83,-79,1,0,0,null,{},-2147483648,-1,
3,1624444181422,02:F7:44:C2:DE:C6,-93,1,0,0,null,{6=[B@ad241bc},-2147483648,-1,6
4,1624444181441,6A:93:CC:3F:37:D5,-91,1,0,0,null,{6=[B@ebeb1cb},-2147483648,-1,6
...,...,...,...,...,...,...,...,...,...,...,...
6064,1624449078690,76:B5:E5:56:C4:71,-93,1,0,0,null,{6=[B@d284137},-2147483648,-1,6
6065,1624449078765,3B:CA:72:5F:DC:49,-90,1,0,0,null,{6=[B@c39a7c2},-2147483648,-1,6
6066,1624449078792,76:B5:E5:56:C4:71,-92,1,0,0,null,{6=[B@cb43c09},-2147483648,-1,6
6067,1624449078973,3B:CA:72:5F:DC:49,-88,1,0,0,null,{6=[B@eee363c},-2147483648,-1,6
6068,1624449079041,68:27:37:AB:4A:81,-95,1,0,0,null,{117=[B@90904b},-2147483648,-1,117

In [11]:
loc2 = pd.read_csv('fargo/bluetooth.txt', header=None)
loc2['company'] = loc2[7].apply(clean_organisation)
loc2

,0,1,2,3,4,5,6,7,8,9,company
0,1626947806908,2D:A5:DF:BC:99:80,-89,1,0,0,null,{76=[B@d6716c8},-2147483648,26,76
1,1626947806911,5E:66:91:6A:05:AE,-95,1,0,0,null,{76=[B@168be86},-2147483648,-1,76
2,1626947806930,6B:31:E7:4E:E2:5D,-95,1,0,0,null,{76=[B@96b449d},6,26,76
3,1626947806994,07:75:B9:04:CA:BB,-92,1,0,0,null,{},-2147483648,26,
4,1626947807023,5E:64:67:49:6E:90,-97,1,0,0,null,{76=[B@d43185e},12,26,76
...,...,...,...,...,...,...,...,...,...,...,...
986,1626948157781,63:7C:8B:DA:AF:0D,-93,1,0,0,null,{6=[B@2e5859b},-2147483648,-1,6
987,1626948157845,00:6F:1B:29:D2:79,-81,1,0,0,null,{},-2147483648,26,
988,1626948157890,63:7C:8B:DA:AF:0D,-92,1,0,0,null,{6=[B@b6a04e4},-2147483648,-1,6
989,1626948157939,77:8F:8B:0B:B2:07,-93,1,0,0,null,{6=[B@7e50d13},-2147483648,-1,6
990,1626948158047,77:8F:8B:0B:B2:07,-94,1,0,0,null,{6=[B@3d75a4e},-2147483648,-1,6

In [12]:
loc3 = pd.read_csv('crackley/bluetooth.txt', header=None)
loc3['company'] = loc3[7].apply(clean_organisation)
loc3

,0,1,2,3,4,5,6,7,8,9,company
0,1619173688028,77:5E:3A:08:55:CD,-74,1,0,0,null,{76=[B@cf38eb5},7,26,76
1,1619173692453,77:5E:3A:08:55:CD,-73,1,0,0,null,{76=[B@aab8016},7,26,76
2,1619173704274,77:5E:3A:08:55:CD,-82,1,0,0,null,{76=[B@51c0569},7,26,76
3,1619173704548,77:5E:3A:08:55:CD,-68,1,0,0,null,{76=[B@c12171c},7,26,76
4,1619173704817,77:5E:3A:08:55:CD,-71,1,0,0,null,{76=[B@1730eab},7,26,76
...,...,...,...,...,...,...,...,...,...,...,...
5826,1619187748163,69:86:F0:A3:47:C1,-91,1,0,0,null,{76=[B@dc033fa},7,26,76
5827,1619187748292,2F:4C:E1:A7:E1:26,-90,1,0,0,null,{},-2147483648,26,
5828,1619187748348,40:AB:A7:07:8F:39,-63,1,0,0,null,{76=[B@14f4987},7,26,76
5829,1619187748377,64:37:1F:12:40:78,-90,1,0,0,null,{76=[B@4fd4852},8,26,76
5830,1619187748422,44:F8:9F:C6:BB:00,-92,1,0,0,null,{76=[B@f3e81d9},8,26,76

In [ ]:
loc4 = pd.read_csv('musicmile/bli', header=None)
loc4['company'] = loc4[7].apply(clean_organisation)
loc4

In [49]:
locations = pd.concat([loc, loc1, loc2, loc3])
locations.dtypes

0           int64
1          object
2           int64
3           int64
4           int64
5           int64
6          object
7          object
8           int64
9           int64
company    object
dtype: object

In [44]:
coms = pd.DataFrame(locations['company'].unique())
coms.to_csv('companies.csv')